@media (max-width: 575px) {
    header nav {
        position: fixed;
        margin-top: 4em;
        width: 100%;
        background-color: white;
        height: 0;
        overflow: hidden;
    }
    header nav.open {
        height: auto;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
    }
}