@media (max-width: 575px) {
    header {
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 999;
    }
    header nav {
        position: fixed;
        top: 4em;
        left: 0;
        right: 0;
        background-color: white;
        height: 0;
        overflow: hidden;
    }
    header nav.open {
        height: auto;
    }
    main {
        margin-top: 4.5em;
    }
}